<section class="contenedor-prod-index">
        <a href="/products/<%= product.id%>" class="links-prduct-contenedor">
            <figure class="contenedor-img-product">
                <img src="/images/products/<%= product.nombreImagen %>" alt="<%= product.nombreImagen %>">
            </figure>
            <article class="contenido-decripcion-prodDestacado">
                <p><%= product.name %></p>
                <p><%= product.price %></p>
                <p><%= product.description %></p>
            </article>
        </a>
</section>
