<section class="contenedor-prod-index">
        <a href="/products/detail/<%= product.id%>" class="links-prod-index"></a>
            <img src="/images/products/<%= product.nombreImagen %>" alt="<%= product.nombreImagen %>">
            <div class="contenido-decripcion-prodDestacado">
                <p><%= product.nombre %></p>
                <p><%= product.precio %></p>
                <p><%= product.descripcion %></p>
            </div>
        </a>
</section>
