<section class="contenedor-prod-index">
        <a href="/products/detail/<%= product.id%>/" class="links-prduct-contenedor">
            <figure class="contenedor-img-product">
                <img src="/images/products/<%= product.nombreImagen %>" alt="<%= product.nombreImagen %>">
            </figure>
            <article class="contenido-decripcion-prodDestacado">
                <p><%= product.nombre %></p>
                <p><%= product.precio %></p>
                <p><%= product.descripcion %></p>
            </article>
        </a>
</section>
