<div class="producto">
    <a href="/products/<%= product.id %>" class="links-prduct-contenedor">
        <img src="../images/products/<%= product.photo %>" alt="<%= product.name %>">
        <article class="articulo">
            <p class="nombre-producto">
                <%= product.name %>
            </p>
            <p class="marca-producto">
                <%= product.brand %>
            </p>
            <p class="precio">
                <%= product.price %>
            </p>
            <p class="descripcion-producto">
                <%= product.description %>
            </p>
        </article>
    </a>
</div>