<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    
        <%- include("./partials/header")%>

            <main>
                <div class="contCarrusel" id="contCarrusel">
                    <div class="contImg" id="contImg">
                        <div   class="imgCarrusel"></div>
                    </div>
                    <ul class="btns">
                        <li class="btn active"></li>
                    </ul>
                </div>
                <div class="productos-destacados"> 
                    <div>
                        <div class="masVistos">
                            <h2 class="secciones" >Mas Vistos!</h2>
                        </div>
                        <% if(locals.mostViews && locals.mostSales) {%>
                        <div class="contenedor-product">    
                            <% mostViews.forEach( (product)=>{ %>
                                <%- include('partials/product', { product }) %>
                            <%});%>
                        </div>        
                    </div>
                    <div> 
                        <div class="masComprados">
                            <h2 class="secciones" >Mas Comprados!</h2>
                        </div>
                        <div class="contenedor-product">    
                            <% mostSales.forEach( (producto)=>{ %>
                                <%- include('partials/product', { product: producto }) %>
                            <%});%>
                        </div>
                        <%}%>
                    </div>
                </div>
                

                <section class="contenedor-marcas">
                    <article class="contenido-marcas"><img src="./images/marcas/marca_fv.webp" alt=""></article>
                    <article class="contenido-marcas"><img src="./images/marcas/marca_klaukol.webp" alt=""></article>
                    <article class="contenido-marcas"><img src="./images/marcas/marca_lomaNegra.webp" alt=""></article>
                    <article class="contenido-marcas"><img src="./images/marcas/marca_roca.webp" alt=""></article>
                </section>

                <section class="contenedor-novedades">
                    <div class="contenedor-p-novedades">
                        <p>Categorias para elegir Amplia variedad!!</p>
                        <p>¡Comprá desde casa en simples pasos!</p>
                    </div>
                    <div class="contenedor-btn-novedades">
                        <button>VER PRODUCTOS>></button>
                    </div>
                </section>
            </main>
</body>
<%- include("./partials/footer")%>
</html>