<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>
    <body>
        <%- include("../partials/header")%>
            <main>
                <!-- Container -->
                <div class="container" style="margin-top: 40px;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="alert alert-success" style="margin-top: 70px;">
                                Hola <%= user.first_name%>
                            </div>
                            <img src="/images/users/<%= user.photo%>" style="width: 180px;">
                            <br>
                            <br>
                            <div class="alert alert-success">
                                <%= user.email%>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Container -->


            </main>
            <% if (!(locals.isLogged && locals.userLogged.category_id == 2)) { %>
            
                <%- include("../partials/footer")%>
            
            <% } %>

    </body>

</html>