<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <%- include("../partials/header")%>

        <body>
            <main>
                <form action="/createSuccessful" method="POST" class="form-agregar-producto"
                enctype="multipart/form-data">
                <h1 class="encabezado-formularios">Crear Producto</h1>

                    <div class="contenedor-agregar-producto">
                        <!-- <label>Nombre</label> -->
                        <input type="text" name="name" placeholder="Nombre" class="nombreCreate">
                    </div>
                    <div class="contenedor-agregar-producto">
                        <!-- <label>Apellido</label> -->
                        <input type="number" name="price" placeholder="Precio" class="precioCreate">
                    </div>
                    
                    <div class="contenedor-agregar-producto">
                        <!-- <label>email</label> -->
                        <input type="text" name="description" placeholder="Descripción" class="descripcionCreate">
                    </div>
                    
                    <div class="contenedor-agregar-producto">
                        <!-- <label>email</label> -->
                        <input type="text" name="brand" placeholder="Marca" class="marcaCreate">
                    </div>
                    
                    <div class="contenedor-agregar-producto">
                        <select name="category_id" placeholder="Categoría" class="categoriaCreate">
                            <option value="0">Seleccionar categoría</option>
                            <%if(locals.category){%>
                                <% category.forEach( cat => { %>
                                    <option value="<%=cat.id%>" > <%= cat.name_category %> </option>
                                <%})%>
                            <%}%>
                        </select>
                    </div>
                    
                    <div class="contenedor-agregar-producto">
                        <!-- <label>email</label> -->
                        <input type="number" name="stock" placeholder="Stock" class="stockCreate">
                    </div>
                    
                    <div class="contenedor-agregar-producto">
                        <!-- <label>Contraseña</label> -->
                        <input type="number" name="discount" placeholder="% de descuento" max="100" min="0" class="descuentoCreate">
                    </div>
                    
                    <!-- FOTO DEL PRODUCTO -->
                    <div class="contenedor-agregar-producto">
                        <input type="file" name="photo" class="imagenCreate">
                    </div>
                    <div class="divForListErrors">
                        <ul class="ulErrores">
                        </ul>
                    </div>
                    <div class="contenedor-agregar-producto">
                        <button type="submit" class="boton-registro">Agregar Producto</button>  
                    </div>
                </form>
            </main>

            <%- include("../partials/footer")%>
<script src="/js/productCreate.js"></script>
        </body>

</html>