<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>

    <body>
        <%- include("../partials/header")%>
            <main class="main">
                <form action="/<%= product.id %>?_method=PUT" method="POST" class="form-agregar-producto" enctype="multipart/form-data">
                    <h1 class="encabezado-formularios">Editar producto</h1>

            
                    <p class="contenedor-agregar-producto">
                        <!-- <label>Nombre</label> -->
                        <input type="text" name="name" placeholder="Nombre" value="<%= product.name %>" class="nombreEdit">
                    </p>
                    <p class="contenedor-agregar-producto">
                        <!-- <label>Apellido</label> -->
                        <input type="number" name="price" placeholder="Precio" value="<%= product.price %>" class="precioEdit">
                    </p>
                    <p class="contenedor-agregar-producto">
                        <!-- <label>email</label> -->
                        <input type="text" name="description" placeholder="Descripcion" value="<%= product.description %>" class="descripcionEdit">
                    </p>
                    <p class="contenedor-agregar-producto">
                        <!-- <label>email</label> -->
                        <input type="text" name="brand" placeholder="Marca" value="<%= product.brand %>" class="marcaEdit">
                    </p>
                    <div class="contenedor-agregar-producto">
                        <select name="category_id" placeholder="Categoría" class="categoriaEdit">
                            <option value="none">Seleccionar categoría</option>
                            <option value="Materiales de construcción">Materiales de construcción</option>
                            <option value="Herramientas">Herramientas</option>
                            <option value="Máquinas">Máquinas</option>
                            <option value="Grifería">Grifería</option>
                            <option value="Sanitarios">Sanitarios</option>
                        </select>
                    </div>
                    <div class="contenedor-agregar-producto">
                        <!-- <label>email</label> -->
                        <input type="number" name="stock" placeholder="Stock" class="stockEdit">
                    </div>

                    <p class="contenedor-agregar-producto">
                        <!-- <label>Contraseña</label> -->
                        <input type="number" name="discount" placeholder="% de descuento" max="100" min="0" value="<%= product.discount %>" class="descuentoEdit">
                    </p>
                    <p class="contenedor-agregar-producto">
                        <!-- FOTO DEL PRODUCTO -->
                        <input type="file" name="photo"  class="imagenEdit">
                    </p>
                    <div class="divForListErrors">
                        <ul class="ulErrores">
                        </ul>
                    </div>
                    <div class="contenedor-bloque">
                        <button type="submit" class="boton-registro">Actualizar Producto</button>
        
                    </div>
                </form>

                <!-- <section class="productos-seleccionados">
                    <ul class="titulos">
                        <li>Articulo</li>
                        <li>Precio</li>
                        <li>Cantidad</li>
                        <li>Subtotal</li>
                    </ul>
                    <ol class="descripcion">
                        <li>Bolson arena fina</li>
                        <li>Ladrillo común</li>
                        <li>Hierro redondo 8 Mm x 12 M</li>
                    </ol>
                </section>
                <section class="totales">

                </section> -->
            </main>
<script src="/js/productEdit.js"></script>
            <%- include("../partials/footer")%>
    </body>

</html>