<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>

    <body>
        <%- include("../partials/header")%>
            <main class="main">
                <form action="/<%= product.id %>?_method=PUT" method="POST" class="form-registro" enctype="multipart/form-data">
            
            
                    <p class="contenedor-bloque">
                        <!-- <label>Nombre</label> -->
                        <input type="text" name="name" placeholder="Nombre" required="" value="<%= product.name %>">
                    </p>
                    <p class="contenedor-bloque">
                        <!-- <label>Apellido</label> -->
                        <input type="number" name="price" placeholder="Precio" required="" value="<%= product.price %>">
                    </p>
                    <p class="contenedor-bloque">
                        <!-- <label>email</label> -->
                        <input type="text" name="description" placeholder="Descripcion" required="" value="<%= product.description %>">
                    </p>
                    <p class="contenedor-bloque">
                        <!-- <label>email</label> -->
                        <input type="text" name="brand" placeholder="Marca" value="<%= product.brand %>">
                    </p>
                    <p class="contenedor-bloque">
                        <!-- <label>Contraseña</label> -->
                        <input type="number" name="discount" placeholder="% de descuento" max="100" min="0" required="" value="<%= product.discount %>">
                    </p>
                    <p>
                        <!-- FOTO DEL PRODUCTO -->
                        <input type="file" name="photo">
                    </p>

                    <div class="contenedor-bloque">
                        <button type="submit" class="boton-registro">Actualizar Producto</button>
        
                    </div>
                </form>

                <!-- <section class="productos-seleccionados">
                    <ul class="titulos">
                        <li>Articulo</li>
                        <li>Precio</li>
                        <li>Cantidad</li>
                        <li>Subtotal</li>
                    </ul>
                    <ol class="descripcion">
                        <li>Bolson arena fina</li>
                        <li>Ladrillo común</li>
                        <li>Hierro redondo 8 Mm x 12 M</li>
                    </ol>
                </section>
                <section class="totales">

                </section> -->
            </main>

            <%- include("../partials/footer")%>
    </body>

</html>