<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>

    <%- include("../partials/header")%>
        <section class="producto-seccion">
            <img src="/images/products/<%= product.photo %>" alt="<%= product.name %>">
            <div class="producto-layout">
                <h2>
                    <%= product.name %>
                </h2>
                <h2>
                    <%= product.brand %>
                </h2>
                <div class="producto-info">
                    <p>Disponibilidad: <%= product.stock %>
                    </p>
                    <p>SKU: <%= product.id %>
                    </p>
                </div>
                <h2>
                    <%= product.price %>
                </h2>
                <div class="contenedor-botonera">
                    <button class="btn-izq">-</button>
                    <label class="cantidad" for="">0</label>
                    <button class="btn-der">+</button>
                    <button class="btn-agregar">AGREGAR</button>
                </div>
            </div>
            <div class="producto-descripcion">
                <h2>Detalles del producto</h2>
                <p>
                    <%= product.description %>
                </p>
            </div>
            <div class="administrar-producto">
                <h2>Administrar producto</h2>
                <a href="/<%= product.id %>/edit"><button>Modificar</button></a>
                <form action="/delete/<%= product.id %>?_method=PUT" method="post">
                    <button type="submit">Eliminar</button>
                </form>
            </div>




        </section>

        <%- include("../partials/footer")%>

</html>