<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>
<body>

    <%- include("../partials/header")%>
        <section class="producto-seccion">
            <!-- <img src="/images/products/<%= product.photo %>" alt="<%= product.name %>"> -->
            <div class="producto-layout">
                <h2>
                    <%= product.name %>
                </h2>
                <h2>
                    <%= product.brand %>
                </h2>
                <div class="producto-info">
                    <p>Disponibilidad: <%= product.stock %>
                    </p>
                    <p>SKU:</p><p class="pepe"><%= product.id %></p> 
                    </p>
                </div>
                <h2>
                    <%= product.price %>
                </h2>
                <div class="contenedor-botonera"> 
                        <i class="bi bi-dash-lg btn-izq"></i>
                        <div class="quantity">0</div>
                        <i class="bi bi-plus-lg btn-der"></i>
                </div>
            </div>
            <div class="producto-descripcion">
                <h2>Detalles del producto</h2>
                <p>
                    <%= product.description %>
                </p>
            </div>
            <div class="administrar-producto">
                <h2>Administrar producto</h2>
                <a href="/<%= product.id %>/edit"><button>Modificar</button></a>
                <form action="/delete/<%= product.id %>?_method=PUT" method="post">
                    <button type="submit">Eliminar</button>
                </form>
            </div>



<script src="/js/productDetail.js"></script>
        </section>

        <%- include("../partials/footer")%>
</body>

</html>