<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
    <body>
    <%- include("../partials/header")%>
    <div class="contenedor-detallado-product ">
        <section class="contenedor-product">  
            <section class="contenedor-fotoDesc-product">
                <figure class="contenedor-img-product">
                    <img src="<%= product.photo %>" alt="<%= product.name %>">
                </figure>
                <h2><%= product.name %></h2>
            </section>
            <div class="product-barraDesc">
                <section class="cant-disponibilidad">
                    <h2><%= product.nombre %></h2>
                    <div class="codigo-disponibilidad">
                        <p>Disponibilidad: <%= product.stock %></p> <p>SKU: <%= product.id %></p>
                    </div>
                    <h2><%= product.price %></h2>
                </section>
                <div class="contenedor-botonera">
                    <p>
                        <button>-</button>
                        <label for="">0</label>
                        <button>+</button>
                    </p>
                    <button>AGREGAR</button>
                </div>
            </div>
        </section>
        <section class="descripcion-producto">
            <h2>DETALLE DEL PRODUCTO</h2>
            <p><%= product.description %></p>
        </section>
    </div>
</body>

<%- include("../partials/footer")%>
</html>