<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>
<body>

    <%- include("../partials/header")%>
        <section class="producto-seccion">
            <img src="/images/products/<%= product.photo %>" alt="<%= product.name %>">
            <div class="producto-layout">
                <h2>
                    <%= product.name %>
                </h2>
                <h2>
                    <%= product.brand %>
                </h2>
                <div class="producto-info">
                    <p>Disponibilidad: <%= product.stock %>
                    </p>
                    <p>SKU: <%= product.id %>
                    </p>
                </div>
                <h2>
                    <%= product.price %>
                </h2>
                <div class="contenedor-botonera">
                    <form class="formAddProduct"> 
                        <button class="btn-izq">-</button>
                        <input class="cantidad" type="number" value="0">
                        <button class="btn-der">+</button>
                        <button class="btn-agregar" type="submit">AGREGAR</button>
                    </form>
                </div>
            </div>
            <div class="producto-descripcion">
                <h2>Detalles del producto</h2>
                <p>
                    <%= product.description %>
                </p>
            </div>
            <div class="administrar-producto">
                <h2>Administrar producto</h2>
                <a href="/<%= product.id %>/edit"><button>Modificar</button></a>
                <form action="/delete/<%= product.id %>?_method=PUT" method="post">
                    <button type="submit">Eliminar</button>
                </form>
            </div>




        </section>

        <%- include("../partials/footer")%>
</body>

</html>